{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block titulo %}Cadastro{% endblock %}

{% block conteudo %}
<div class="row mt-4">
    {% if not request.user.is_authenticated %}
    <div class="col-lg mt-3">
        <h4>Login</h4>
        <p>Se você já possui cadastro, basta acessar com seu usuário e senha.</p>
        <form method="post" action="{% url 'customer:login' %}">
            {% csrf_token %}
            <div class="form-group">
              <label for="InputUser">Usuário</label>
              <input type="text" name="username" class="form-control" id="InputUser" placeholder="Insira seu usuário">
            </div>
            <div class="form-group mt-3">
              <label for="InputPassword1">Senha</label>
              <input type="password" name="password" class="form-control" id="InputPassword" placeholder="Insira sua Senha">
            </div>
            <button type="submit" class="btn btn-primary btn-block btn-lg mt-3">Entrar</button>
          </form>
    </div>
    {% endif %}
    <div class="col-lg mt-3">
        {% block titulocadastro %}
        <h4>Cadastro</h4>
        <p>Caso ainda não seja cadastro, utilize o formulário a seguir para se
            cadastrar.</p>
        {% endblock %}
        <form method="post" action="">
            {% csrf_token %}
            {{ userform | crispy }}
            {{ customerform | crispy }}
            {{ customeraddressform | crispy }}
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary btn-block btn-lg">
                        Enviar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
