{% extends 'base.html' %}
{% load customfilters %}

{% block conteudo %}

{% if request.session.cart %}

<div class="row mt-3">
    <div class="col">
        <h3>Carrinho de compras</h3>
        <p class="lead">Os produtos, quantidades e preços que você escolheu.</p>
        {% include 'parciais/_cart.html' %}
    </div>
</div>


<div class="row mt-3">
    <div class="col-lg">
        <p class='lead'>Total no carrinho</p>

        <div class='table-responsive'>
            <table class="table">
                <tr>
                    <td class="font-weight-bold">Total</td>
                    <td>{{ request.session.cart | cart_total | format_price_brl }}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-lg mt-auto">
        <a class="btn btn-lg btn-block btn-primary" href="#">
            Finalizar a compra
        </a>
    </div>
</div>

{% else %}

<div class="row mt-3">
    <div class="col">
        <h3>Carrinho de compras</h3>
        <p class="lead">Você não escolheu nenhum produto ainda, acesse nossa loja aproveite o preço baixo.</p>
        <a href="{% url 'product:list' %}">Home</a>
    </div>
</div>

{% endif %}

{% endblock %}
