{% extends 'base.html' %}
{% load customfilters %}

{% block conteudo %}

<main class="container mt-4 mb-4">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg">
                    <div class="row no-gutters">
                        <div class="col-lg-12">
                            {% if product.image %}
                            <img class="img-fluid" src="{{ product.image.url }}">
                            {% endif %}
                        </div>
                    </div> 
                </div>
                <div class="col-lg">
                    <div class="mt-4 mt-lg-0 mb-4">
                        <h1 class="h2">{{ product.name }}</h1>
                        <p class="lead">{{ product.short_description|linebreaks }}</p>
                        {% if product.mkt_price_promotional %}
                        <span id="variation-preco-promocional" class="lead product-price">
                            {{ product.mkt_price_promotional | format_price_brl }}</span>
                        <span id="variation-preco" class="lead product-old-price text-muted">
                            {{product.mkt_price | format_price_brl }}</span>
                        {% else %}
                        <span id="variation-preco" class="lead product-price">
                            {{ product.mkt_price | format_price_brl }}</span>
                        </p>
                        {% endif %}

                        <form action="{% url 'product:addcart' %}" id="form-add-to-cart">
                            <div class="form-group mt-4">
                                <select id="select-variacoes" name="vid" class="form-control form-control-lg">
                                    {% for var in product.variation_set.all %}

                                    {% if var.promotional_price != 0 %}
                                    <option data-preco="{{ var.price | format_price_brl }}"
                                        data-preco-promocional="{{ var.promotional_price | format_price_brl }}"
                                        value="{{ var.id }}">
                                        {% if var.name %}
                                        {{ var.name }}
                                        {% else %}
                                        {{ var }}
                                        {% endif %}
                                    </option>
                                    {% else %}
                                    <option data-preco-promocional="{{ var.price | format_price_brl }}" value="{{ var.id }}">
                                        {% if var.name %}
                                        {{ var.name }}
                                        {% else %}
                                        {{ var }}
                                        {% endif %}
                                    </option>
                                    {% endif %}

                                    {% endfor %}
                                </select>
                            </div>
                            <br>
                            <div class="text-left">
                                <button type="submit" class="btn btn-primary btn-lg btn-block">
                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                    Adicionar ao carrinho
                                </button>
                            </div>

                        </form>


                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-lg-12">
                    <div class="mt-5 mb-5">
                        <h2 class="text-center">{{ product.name }}</h2>
                        <p>{{ product.long_description | linebreaks}}
                    </div>
                </div>
            </div>

        </div>
    </div>
</main>

{% endblock %}