{% load static %}
<footer class="bg-primary text-light">
    <div class="container navbar-dark pt-4 mt-5">
        <div class="row">
            <div class="col">
                <p class="text-left">Minha Flor T-Shirts</p>
            </div>
            <div class="col">
                <p class="text-right">Made By Luiz Gatão</p>
            </div>
        </div>
    </div>
</footer>

<script type="text/javascript" src="{% static "vendor/bootstrap/js/jquery-3.2.1.slim.min.js" %}"></script>
<script type="text/javascript" src="{% static "vendor/bootstrap/js/popper.min.js" %}"></script>
<script type="text/javascript" src="{% static "vendor/bootstrap/js/bootstrap.min.js" %}"></script>
<script type="text/javascript" defer src="{% static "vendor/font-awesome/js/all.js" %}"></script>
<script type="text/javascript" src="{% static "vendor/custom/js/scripts.js" %}"></script>
