{% load static %}
{% load customfilters %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'product:list' %}">
            <img src="{% static 'img/flor_50x50.png' %}"
                 alt=""
                 width="50"
                 height="50"
                 class="d-inline-block align-text-center">
            Minha Flor T-Shirts Store
        </a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'product:list' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">T-Shirts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Saias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Semijoias</a>
                </li>
                {% if request.user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                       href="#"
                       id="menu_usuario"
                       data-bs-toggle="dropdown"
                       aria-expanded="false">
                        {{ request.user }}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="Menu usuário">
                        <li>
                            <a class="dropdown-item" href="{% url 'customer:create' %}">Atualizar dados</a>
                        </li>
                        {% if request.session.cart %}
                        <li>
                            <a class="dropdown-item" href="{% url 'product:cart' %}">Carrinho</a>
                        </li>
                        {% endif %}
                        <li>
                            <a class="dropdown-item" href="{% url 'order:list' %}">Pedidos</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'customer:logout' %}">Sair</a>
                        </li>
                    </ul>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'customer:create' %}">Entrar</a>
                </li>
                {% endif %}
            </ul>
            {% if request.session.cart %}
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link nav-cart-link active" href="{% url 'product:cart' %}">
                            <span class="nav-cart-text mr-1">Carrinho</span>
                            <span class="nav-cart-count mr-1">
                                <strong>{{ request.session.cart | cart_total_qtd }} x</strong>
                            </span>
                            <span class="nav-cart-icon">
                                <i class="fas fa-shopping-cart"></i>
                            </span>
                        </a>
                    </li>
                </ul>
            {% endif %}
            <form class="d-flex" action="">
                <input name="termo"
                       value=""
                       class="form-control me--2"
                       type="search"
                       placeholder="Pesquisar"
                       aria-label="Pesquisar">
                <button class="btn btn-primary" type="submit">Pesquisar</button>
            </form>
        </div>
    </div>
</nav>
