{% extends 'base.html' %}
{% load static %}
{% load customfilters %}

{% block titulo %}Método de Pagamento{% endblock %}

{% block conteudo %}
<main class="container mt-4 mb-4">
    <div class="row">
        <div class="col">
            <h3>Escolha o método de pagamento</h3>
            <p>Adicionar aqui métodos de pagamento</p>
        </div>
    </div>
{% include 'parciais/_order.html' %}
            <div class="row mt-4">
                <div class="col">
                    <a href="#" class="btn btn-primary btn-block btn-lg">Pagar</a>
                </div>
            </div>
</main>
{% endblock %}
