{% load static %}
<!DOCTYPE html>
<html lang="pt">
    <head>
        <title>
            {% block titulo %}{% endblock %}
             | Minha Flor T-Shirts Store
        </title>
        {% include 'parciais/_header.html' %}
    </head>
    <body>
        {% include 'parciais/_navbar.html' %}
        <!-- Page Content -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    {% include 'parciais/_messages.html' %}
                    {% block conteudo %}{% endblock %}
                </div>
            </div>
        </div>
        {% include 'parciais/_footer.html' %}
    </body>
</html>
